<script type="text/markdown" data-help-name="ui-template">
(see [full docs](https://dashboard.flowfuse.com/nodes/widgets/ui-template.html))

The content of `ui-template` is controlled by the "Type" property.

Provides a means to render custom content or a set of node-styles depending on scope.
- **Widget:** A Vue Component (including any <a href="https://vuetifyjs.com/en/components/all/" target="blank">
  Vuetify component</a>) that is rendered in the Dashboard.
- **CSS (All Pages):** Define custom CSS classes/styling that applies to the entire Dashboard.
- **CSS (Single Page):** Define custom CSS classes/styling that applies just a single page of your Dashboard

### Type: Widget
When the scope is set to **Widget**, the template will be rendered in the Dashboard as HTML.

You can render dynamic content using any VueJS data-binding expressions, (e.g. `v-if`, `v-for`, `:class`)
and access incoming data to the node via the `msg` object.

#### Working with Variables

Any variables that you want to render into your `<template />` are done so in one of two ways:

- **Attribute Binding** - Use `:` to bind a variable to an attribute. Anything inside the double quotes `""` is treated as JavaScript, for example: 

```html
&lt;p :class="msg.payload">Hello World&lt;/p>
````

or, if you want to use `msg.payload` as part of the value, you can do this:

```html
&lt;!-- Change color based on msg.payload. Expects payload to be either "error", "warning" or "info" -->
&lt;p :class="'text-' + msg.payload">Hello World&lt;/p>
&lt;!-- or with string literals: -->
&lt;p :class="`text-${msg.payload}`">Hello World&lt;/p>
````

or use `msg.payload` as a condition:

```html
&lt;!-- 
  Change color based on the value of msg.payload: 
  * When msg.payload equals "error", set text to the predefined `text-error` color. 
  * Otherwise, set text to the predefined `text-info` color.
-->
&lt;p :class="msg.payload === 'error' ? 'text-error' : 'text-info'">Hello World&lt;/p>
````

or even as a conditional block:

```html
&lt;!-- 
  Show a message based on the value of msg.payload:
  * When msg.payload equals "error", show the error message.
  * When msg.payload equals "warning", show the warning message.
  * Otherwise, show the info message.
-->
&lt;div>
  &lt;p v-if="msg.payload === 'error'">Error: Something went wrong!&lt;/p>
  &lt;p v-else-if="msg.payload === 'warning'">Warning: Be careful!&lt;/p>
  &lt;p v-else>Info: Everything is fine!&lt;/p>
&lt;/div>
```

- **Text Interpolation** - Use `{{ }}` to interpolate a variable into the text of an element. Anything inside the curly brackets is treated as JavaScript. For example:

```html
&lt;p>Hello {{ msg.payload }}&lt;/p>
```

```html
&lt;p>Percentage {{ msg.payload * 100 }}%&lt;/p>
```

#### Built In Functions

The template comes with two built-in functions:

`send(msg)` -  Can be used to send a `msg` from the template, e.g:

```html
&lt;v-btn @click="send({'hello': 'world'})">&lt;/v-btn>
```

`submit()` - Can be attached to a `<form />`. The `msg` sent will be an object
  representation of the `FormData` from the attached form, e.g:
```html
&lt;form @submit.prevent="submit">
    &lt;v-text-field name="first" label="First Name">&lt;/v-text-field>
    &lt;v-text-field name="last" label="Last Name">&lt;/v-text-field>
    &lt;v-btn type="submit">&lt;/v-btn>
&lt;/form>
```
Would send the following `msg` when submitted:
```js
{ "first": <value>, "last": <value> }
```

#### Sending on Click
Here, we call it when someone clicks our "Send Hello World" button:

```vue
&lt;v-btn @click="send({payload: 'Hello World'})">Send Hello World</v-btn>
```

#### Sending on Change
Or another example, where the payload is automatically sent any time the `v-model` is changed:

```vue
&lt;v-rating hover :length="5" :size="32" v-model="value"
    active-color="primary" @update:modelValue="send({payload: value})"/>
```

#### Reading Node Input

Whenever a `ui-template` receives a `msg` in Node-RED, that is automatically assigned to the `msg` variable in the template.

Additionally, we also bind a computed variable `value` to `msg.payload`. This means that you can access the `msg` object in your template, as well as binding the `value` variable to any widgets you use. 

Such an example would be:

```html
&lt;div>
    &lt;h2>Latest &lt;code>msg&lt;/code> received:&lt;/h2>
    &lt;pre>{{ msg }}&lt;/pre>
&lt;/div>
```

#### Vuetify Widgets

The `ui-template` node also has access to the [Vuetify component library](https://vuetifyjs.com/en/components/all/) by default. The library provides a large number of pre-built widgets that you can use in your Dashboard.

These are particularly useful as they provide easy access to a large number of pre-built widgets that aren't necessarily included in the core nodes of Node-RED Dashboard 2.0.

### Type - CSS (All Pages)
When the scope is set to **Site Scoped Style**, the CSS in the template will be added to the `head` of all pages.
e.g.
```css
.my-class {
  color: red;
}
```

### Type: CSS (Single Page)
When the scope is set to **Site Scoped Style**, the CSS in the template will be added to the `head` of the selected page.
e.g.
```css
.my-page1-only-class {
  color: green;
}
```

</script>  
