:root {
    --vp-c-brand: #0094CE;
    --vp-c-node-red: #ffe4e3;
    --vp-c-node-red-dark: #B80C14;
    --vp-c-flowfuse: #3730a3;
    --vp-c-flowfuse-dark: #4338ca;
}

img + em {
    text-align: center;
    display: block;
}

video + em {
    font-size: 0.875rem;
    text-align: center;
    display: block;
}

:root {
    /* --vp-home-hero-name-color: transparent; */
    /* --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff); */
}

nav#VPSidebarNav p {
    pointer-events: none;
}

img + em {
    font-size: 0.875rem;
}

.vp-doc h3 {
    margin-bottom: 16px;
}

.underline {
    text-decoration: underline;
}