:root {
    --vp-c-brand: #0094CE;
}

img + em {
    text-align: center;
    display: block;
}


:root {
    /* --vp-home-hero-name-color: transparent; */
    /* --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff); */
}

nav#VPSidebarNav p {
    pointer-events: none;
}
