.nrdb-resizable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    --handle-size: 12px;
    --handle-opacity: 0.1; // initially mostly transparent - updated in hover
    --handle-accent: transparent; // initially no accent color - updated in hover
    /* transitions to match vuetify cards/buttons etc */ 
    transition-property: box-shadow, transform, opacity, border;
    transition-duration: 0.28s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-color: 0px dashed transparent;
    cursor: grab;
    &.resizing {
        z-index: 1000 !important;
        background-color: #ff00001f;
        border: 1px dashed red;
    }
    &:hover, &:active {
        border: 1px dashed red;
        --handle-opacity: 1;
        --handle-accent: red;
    }
}
.nrdb-resizable--handle {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    opacity: var(--handle-opacity);
    /* transitions to match vuetify cards/buttons etc */ 
    transition-property: box-shadow, transform, opacity, background;
    transition-duration: 0.28s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:active {
        background-color: #eee;
        --handle-opacity: 1;
        --handle-accent: red;
    }
}

.nrdb-resizable--right {
    height: calc(2 * var(--handle-size));
    width: var(--handle-size);
    top: 50%;
    margin-top: calc(-1 * var(--handle-size));
    right: calc(-1 * var(--handle-size) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: ew-resize !important;
}

.nrdb-resizable--bottom {
    height: var(--handle-size);
    width: calc(2 * var(--handle-size));
    left: 50%;
    margin-left: calc(-1 * var(--handle-size));
    bottom: calc(-1 * var(--handle-size) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: ns-resize !important;
}

.nrdb-resizable--right:after {
    content: '';
    height: calc(0.75 * var(--handle-size));
    width: 1px;
    display: inline-block;
    background-color: var(--handle-accent);
}

.nrdb-resizable--bottom:after {
    content: '';
    height: 1px;
    width: calc(0.75 * var(--handle-size));
    display: inline-block;
    background-color: var(--handle-accent);
}

.nrdb-resizable {
    --toolbar-opacity: 0;
    &:hover {
        --toolbar-opacity: 1;
    }
    .nrdb-resizable--toolbar {
        position: absolute;
        top: 8px;
        right: 12px;
        z-index: 101;
        opacity: var(--toolbar-opacity, 0);
        &:hover {
            --toolbar-opacity: 1;
        }
        > .nrdb-resizable--toolbar-button {
            width: 20px; // override theme sizing
            height: 20px;
            min-height: 20px;
            min-width: 20px;
            cursor: pointer;
            &:hover {
                --toolbar-opacity: 1;
            }
        }
    }
}

