name: E2E Tests
on:
  push:
    branches:
      - main
      - maintenance
  pull_request:

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Dependencies
        run: npm ci
      - name: Install Node-RED Dependencies
        working-directory: ./cypress/fixtures/user-dir/
        run: npm install
      - name: Run Linting Tests
        run: npm run lint
      - name: Run Dashboard E2E (Cypress) Tests
        uses: cypress-io/github-action@e65cba2e7319696fc0fdc4d5a319b737aec4ba1c # v6.10.3
        with:
          install: false
          config-file: cypress.config.js
          build: npm run build
          start: npm run cy:server
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: failure()
        with:
          name: cypress-output
          path: |
            cypress/screenshots
            cypress/videos