name: E2E Tests
on:
  push:
    branches:
      - main
      - maintenance
  pull_request:

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install Dependencies
        run: npm ci
      - name: Install Node-RED Dependencies
        working-directory: ./cypress/fixtures/user-dir/
        run: npm install
      - name: Run Linting Tests
        run: npm run lint
      - name: Run Dashboard E2E (Cypress) Tests
        uses: cypress-io/github-action@108b8684ae52e735ff7891524cbffbcd4be5b19f # v6.7.16
        with:
          install: false
          config-file: cypress.config.js
          build: npm run build
          start: npm run cy:server
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: failure()
        with:
          name: cypress-output
          path: |
            cypress/screenshots
            cypress/videos