/*
    Theming Variables
*/

:root {
    --nrdb-bg-color: #222;
    --nrdb-text-color: #fff;
    --nrdb-font-family: Helvtiva;
    /* header */
    --nrdb-header-bg: red;
    --nrdb-header-padding: 6px 12px;
    --nrdb-header-text-color: white;
    /* main */
    --nrdb-main-padding: 12px;
    /* widget sizing */
    --widget-row-height: 42px;
}

body {
    margin: 0;
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--nrdb-bg-color);
    color: var(--nrdb-text-color);
}

main {
    padding: var(--nrdb-main-padding);
}

/**
* Common Widget Styling
*/  
.nrdb-ui-widget {
    min-height: var(--widget-row-height);
}

/**
* Widget: Markdown
*/ 
.nrdb-ui-markdown h1 {
    margin: 0.67em 0;
}
.nrdb-ui-markdown p {
    margin: 1em 0;
}

/**
*  Theming Overrides
*/

.v-list-item--active {
    background-color: var(--v-theme-background);
}

/* Override the default Vuetify theme by making 'primary' the main colour for widgets, rather than 'surface' */
.v-btn--variant-elevated, .v-btn--variant-flat {
    background-color: rgb(var(--v-theme-primary));
    color: rgb(var(--v-theme-on-primary));
}
.v-btn--variant-elevated, .v-btn--variant-flat {
    background-color: rgb(var(--v-theme-primary));
    color: rgb(var(--v-theme-on-primary));
}

.v-card {
    border: 1px solid rgb(var(--v-theme-group-outline));
}

/* focused border color */
.v-field--variant-outlined.v-field--focused .v-field__outline__end,
.v-field--variant-outlined.v-field--focused .v-field__outline__notch:after,
.v-field--variant-outlined.v-field--focused .v-field__outline__notch:before,
.v-field--variant-outlined.v-field--focused .v-field__outline__start {
    border-color: rgb(var(--v-theme-primary));
}

/* dropdown list items */
.v-menu>.v-overlay__content>.v-card, .v-menu>.v-overlay__content>.v-list, .v-menu>.v-overlay__content>.v-sheet {
    background: rgb(var(--v-theme-background));
    color: rgb(var(--v-theme-on-background));
}

.v-slider-track__background,
.v-slider-track__fill,
.v-slider-track__tick,
.v-slider-thumb__surface {
    background-color: rgb(var(--v-theme-primary));
}

/* switch thumb */

.v-switch__track {
    opacity: 0.3;
}
.v-switch__thumb {
    color: rgb(var(--v-theme-surface-variant));
}

.active .v-switch__track {
    opacity: 0.6;
}
.active .v-switch__thumb {
    opacity: 1.0;
}